i {
  padding: 0.5em;
}

.tile {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: -webkit-xxx-large;
}

.container {
  margin-top: 1em;
}

#gameboard {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: stretch;
  width: 300px;
  height: 300px;
  margin: 0 auto 1em auto;
}

#gameDisplay {
  display: none; /* make hidden initially */
}

#modeSelection {
  width: 300px;
  margin: auto;
  margin-top: 1em;
}

#playerOneForm {
  margin-top: 1em;
}

#heading {
  width: 300px;
  margin: auto;
  margin-bottom: 0.5em;
}

/* Tic-Tac-Toe Grid Borders */

#top-left,
#top-middle {
  border-right: solid;
  border-bottom: solid;
}

#top-right {
  border-bottom: solid;
}

#middle-left,
#middle-middle {
  border-right: solid;
  border-bottom: solid;
}

#middle-right {
  border-bottom: solid;
}

#bottom-left,
#bottom-middle {
  border-right: solid;
}
