#gameboard{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: stretch;
  width: 300px;
  height: 300px;
  margin: 0 auto 1em auto;
}

#playerOneForm{
  margin-top: 1em;
}

#heading {
  width: 400px;
  margin: auto;
  margin-bottom: 0.5em;
}

.tile {
  width: 100px;
  height: 100px;
  border: 1px solid;
  text-align: center;
  font-size: -webkit-xxx-large;
}

.container{
  margin-top: 1em;
}

/* hide to begin */
#gameDisplay {
  display: none; 
}